{% extends "index.html"%}

{% block sitetitle %}{{entity.name}}-{{entity.address.streetAddress}}{% endblock %}

{% block body %}
<section class="bs-wrapper">
<div class="bs"
      itemscope
      itemid="{{ request.path }}"
      resource="{{ request.path }}"
      vocab="http://schema.org/"
      typeof="{{entity['@type']}}">
    <header>
      <span class="title" itemprop="name" property="name">{{ entity.name }}</span>
      <span class="cat">{{ categories.list[entity.cat['@value']] }}</span>
    </header>
    <meta property="openingHours" itemprop="openingHours"content="{{ entity.openingHours }}">
    <time class="time" datetime="{{ entity.openingHours }}"> {{ entity.openingHours}}</time>
    <div class="location" itemprop="location" itemscope itemtype="http://schema.org/Place" property="location" typeof="Place">
      <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" property="address" typeof="PostalAddress">
        <span class="street" itemprop="streetAddress" property="streetAddress">{{entity.address.streetAddress}} </span>
        <span class="city" itemprop="addressLocality" property="addressLocality">{{entity.address.addressLocality}}, </span>
        <span class="state" itemprop="addressRegion" property="addressRegion">{{entity.address.addressRegion}}</span>
        <meta itemprop="postalCode" property="postalCode" content="{{entity.address.postalCode}}">
        <meta itemprop="addressCountry" property="addressCountry" content="{{entity.address.addressCountry}}">
      </span>
    </div>
    <div class="desc" itemprop="description" property="description">{{entity['description']}}</div>
    {% if relations.selected %}
    <div>Related Events</div>
    {% for id in relations.selected %}
    <a class="url" href="{{url_for('event',request_id=id)}}">{{ relations.rels[id].name }}</a><br>
    {% endfor %}
    {% endif %}
    <div class="view">
      <a href="{{ request.path }}.json">View as JSON-LD</a><br>
      <a rel="collection" class="url" itemprop="url" property="url" href="{{ url_for('businesslist')}}">View All</a>
    </div>
</div>
</section>

<div class="js-toggle-content">
<div class="js-toggle">
  <div class="js-toggle-text rem1-3" onclick="this.parentNode.parentNode.classList.toggle('is-open')">
    Edit This Business
  </div>
</div>
<div class="js-toggle-box">
<div class="bs-update-wrapper">
  <h3>Update Business Details</h3>
  <form name="bs-update"  class="business-editor" action="{{ request.path }}" method="patch">
    <label>Name
      <input class="name" type="text" name="name" value="{{entity.name}}"/>
    </label>
    <label>Hours of Operation
      <input class="time" type="text" name="openingHours" value="{{entity.openingHours}}"/>
      <!-- allow addition of multiple times -->
    </label>
    <label>Street Address
      <input class="address" type="text" name="address.streetAddress" value="{{entity.address.streetAddress}}"/>
    </label>
    <label>City
      <select class="address" name="address.addressLocality">
        {% for item in cities %}
        <option value="{{ item }}"  {% if item == entity.address.addressLocality %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Postal Code
      <select class="address" name="address.postalCode">
        {% for item in postalcodes %}
        <option value="{{ item }}"  {% if item == entity.address.postalCode %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>State
      <select class="address" name="address.addressRegion">
        {% for item in states %}
        <option value="{{ item }}" {% if item == entity.address.addressRegion %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Type
      <select class="cat" name="cat">
        {% for idx in range(categories.len) %}
        <option value="{{ idx }}" {% if idx == entity.cat['@value'] %}selected{%endif%}>{{ categories.list[idx] }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Related To
      <select class="relations" name="relations" multiple>
        {% for id in relations.rels %}
        <option value="{{ id }}" {% if id in relations.selected %}selected{% endif %}>{{ relations.rels[id].name }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Description
      <textarea class="desc" name="description" rows="8" cols="40">{{entity.description}}</textarea>
    </label>
    <input class="update" type="submit" value="Update Business">
  </form>
</div>
</div>
<script>
  var form = document.querySelector('form.business-editor');
  var button = document.querySelector('form.business-editor input.update');
  var inputs = [].slice.call(form.elements);
  var changed = {};
  for (var i=0; i<inputs.length;i++) {
    inputs[i].addEventListener('change', function(){
      changed[this.name] = 1;
    });
  };

  button.addEventListener('click', function (event) {
    event.preventDefault();
    var request = new XMLHttpRequest();
    request.open('PATCH', window.location.pathname);
    request.onreadystatechange = function () {
      if (XMLHttpRequest.DONE === request.readyState
          && 200 === request.status) {
        window.location.reload(true);
      }
    }
    var tosend = new FormData(form);
    tosend.append('changed', Object.keys(changed).join(','));
    request.send(tosend);
  }, false);

</script>
</form>

<script type="application/ld+json">
  {{jsonld|safe}}
</script>
{% endblock %}
