{% extends "index.html"%}

{% block sitetitle %}All Events{% endblock %}
{%block titlebar%}
<div class="gb-title-bar" style="background-color:#253540;padding: 0 .5rem;">
  <div class="container">
     <h3 class="gb-title-bar-label" style="color:#fff;padding: 0 11px;">Events List</h3>
  </div>
</div>
{% endblock %}
{% block body %}
{% if not entity%}<h1 style="text-align:center">No Events Yet!</h1>{%endif%}
<ul class="evs-ls">
  {% for request_id, req_entity in entity %}
  <li class="ev item"
      itemscope
      itemid="{{ url_for('event', request_id=request_id, _external=True) }}"
      resource="{{ url_for('event', request_id=request_id, _external=True) }}"
      vocab="http://schema.org/"
      typeof="{{req_entity['@type']}}">
    <header>
      <span class="title" itemprop="name" property="name">{{ req_entity.name }}</span>
      <span class="cat">{{ req_entity.category }}</span>
    </header>
    <div class="time" >
      <time itemprop="startDate" property="startDate" datetime="{{ req_entity.startDate }}"> {{ req_entity.startDate | datetime}}</time>
      -<time itemprop="endDate" property="endDate" datetime="{{ req_entity.endDate }}"> {{ req_entity.endDate | datetime}}</time>
    </div>
    <div class="location">
      <span itemprop="location" itemscope="" itemtype="http://schema.org/PostalAddress" property="location" typeof="PostalAddress">
        <meta itemprop="name" property="name" content="{{ req_entity.name }}">
        <span class="street" itemprop="streetAddress" property="streetAddress">{{req_entity.location.streetAddress}} </span>
        <span class="city" itemprop="addressLocality" property="addressLocality">{{req_entity.location.addressLocality}}, </span>
        <span class="state" itemprop="addressRegion" property="addressRegion">{{req_entity.location.addressRegion}}</span>
        <meta itemprop="postalCode" property="postalCode" content="{{req_entity.location.postalCode}}">
        <meta itemprop="addressCountry" property="addressCountry" content="{{req_entity.location.addressCountry}}">
      </span>
    </div>
    <div class="desc" itemprop="description" property="description">{{req_entity['description']}}</div>
    <div class="view">
      <meta itemprop="url" property="url" content="{{ url_for('event', request_id=request_id,  _external=True) }}">
      <a rel="details" href="{{ url_for('event', request_id=request_id,  _external=True) }}">View Details</a>
    </div>
  </li>
  {% endfor %}
</ul>

<div class="view">
  <a href="{{ request.path }}.json">View list as JSON-LD</a><br>
</div>

<div class="js-toggle-content">
<div class="js-toggle">
  <div class="js-toggle-text rem1-3" onclick="this.parentNode.parentNode.classList.toggle('is-open')">
    Add New Event
  </div>
</div>
<div class="js-toggle-box">
<div class="evs-update">
  <h3>Event Details</h3>
  <form name="ev-add"  class="event-editor" action="{{ url_for('eventlist') }}" method="post">
    <label>Name
      <input class="name" type="text" name="name"/>
    </label>
    <fieldset>
    <legend>When does it begin?</legend>
    <label>Date
      <input class="time" type="date" name="startdate.date"/>
    </label>
    <label>Time
      <input class="time" type="time" name="startdate.time"/>
    </label>
    </fieldset>
    <fieldset>
    <legend>When does it end?</legend>
    <label>Date
      <input class="time" type="date" name="enddate.date"/>
    </label>
    <label>Time
      <input class="time" type="time" name="enddate.time"/>
    </label>
    </fieldset>
    <fieldset>
    <legend>Where is it?</legend>
    <label>Street Address
      <input class="address" type="text" name="streetAddress" />
    </label>
    <label>City
      <select class="address" name="city">
        {% for item in cities %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Postal Code
      <select class="address" name="postalCode">
        {% for item in postalcodes %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>State
      <select class="address" name="state">
        {% for item in states %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    </label>
  </fieldset>
    <label>Type
      <select class="cat" name="category">
        {% for item in categories %}
        <option value="{{ item }}">{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Related To
      <select class="relations" name="relations" multiple>
        {% for id in relations %}
        <option value="{{ id }}">{{ relations[id].name }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Description
      <textarea class="desc" name="description" rows="8" cols="40"></textarea>
    </label>
    <input class="add" type="submit" value="Add Event">
  </form>
</div>
</div>
<script type="application/ld+json">
  {{jsonld|safe}}
</script>
{% endblock %}
