{% extends "index.html"%}

{% block sitetitle %}{{entity.name}}-{{entity.location.streetAddress}}{% endblock %}

{% block body %}
<section class="ev-wrapper">
<div class="ev"
      itemscope
      itemid="{{ request.path }}"
      resource="{{ request.path }}"
      vocab="http://schema.org/"
      typeof="{{entity['@type']}}">
    <header>
      <span class="title" itemprop="name" property="name">{{ entity.name }}</span>
      <span class="cat" itemprop="category" property="category">{{ entity.category }}</span>
    </header>
    <div class="time" >
      <time itemprop="startDate" property="startDate" datetime="{{ entity.startDate }}"> {{ entity.startDate | datetime}}</time>
      -<time itemprop="endDate" property="endDate" datetime="{{ entity.endDate }}"> {{ entity.endDate | datetime}}</time>
    </div>
    <div class="location" itemprop="location" itemscope itemtype="http://schema.org/Place" property="location" typeof="Place">
      <span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress" property="address" typeof="PostalAddress">
        <span class="street" itemprop="streetAddress" property="streetAddress">{{entity.location.streetAddress}} </span>
        <span class="city" itemprop="addressLocality" property="addressLocality">{{entity.location.addressLocality}}, </span>
        <span class="state" itemprop="addressRegion" property="addressRegion">{{entity.location.addressRegion}}</span>
        <meta itemprop="postalCode" property="postalCode" content="{{entity.location.postalCode}}">
        <meta itemprop="addressCountry" property="addressCountry" content="{{entity.location.addressCountry}}">
      </span>
    </div>
    <div class="desc" itemprop="description" property="description">{{entity['description']}}</div>
    {% if relations.selected %}
    <div class="relations" style="padding: 16px 0;">
      <header style="color: rgba(0,0,0,0.54);font-size: 1.1rem;">Related Events</header>
      <ul class="bss-ls">
      {% for id in relations.selected %}
      <li class="bs item"
      itemscope
      itemid="{{ url_for('business', request_id=id, _external=True) }}"
      resource="{{ url_for('business', request_id=id, _external=True) }}"
      vocab="http://schema.org/"
      typeof="{{relations.rels[id]['@type']}}">
        <span class="name" itemprop="name" property="name">{{ relations.rels[id].name }}</span>
        <a class="url" itemprop="url" property="url" href="{{url_for('business',request_id=id)}}">View</a>
      </li>
      {% endfor %}
      </ul>
    </div>
      {% endif %}
    <div class="view">
      <a href="{{ request.path }}.json">View as JSON-LD</a><br>
      <a rel="collection" class="url" itemprop="url" property="url" href="{{ url_for('eventlist')}}">View All</a>
    </div>
</div>
</section>

<div class="js-toggle-content">
<div class="js-toggle">
  <div class="js-toggle-text rem1-3" onclick="this.parentNode.parentNode.classList.toggle('is-open')">
    Edit This Event
  </div>
</div>
<div class="js-toggle-box">
<div class="ev-update-wrapper">
  <h3>Update Event Details</h3>
  <form name="ev-update"  class="event-editor" action="{{ request.path }}" method="patch">
    <label>Name
      <input class="name" type="text" name="name" value="{{entity.name}}"/>
    </label>
    <fieldset>
    <legend>When does it begin?</legend>
    <label>Date
      <input class="time" type="date" name="startDate.date" value="{{entity.startDate|getDate}}"/>
    </label>
    <label>Time
      <input class="time" type="time" name="startDate.time" value="{{entity.endDate|getTime}}"/>
    </label>
    </fieldset>
    <fieldset>
    <legend>When does it end?</legend>
    <label>Date
      <input class="time" type="date" name="endDate.date" value="{{entity.endDate|getDate}}"/>
    </label>
    <label>Time
      <input class="time" type="time" name="endDate.time" value="{{entity.endDate|getTime}}"/>
    </label>
    </fieldset>
    <fieldset>
    <legend>Where is it?</legend>
    <label>Street Address
      <input class="address" type="text" name="location.streetAddress" value="{{entity.location.streetAddress}}"/>
    </label>
    <label>City
      <select class="address" name="location.addressLocality">
        {% for item in cities %}
        <option value="{{ item }}"  {% if item == entity.location.addressLocality %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Postal Code
      <select class="address" name="location.postalCode">
        {% for item in postalcodes %}
        <option value="{{ item }}"  {% if item == entity.location.postalCode %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>State
      <select class="address" name="location.addressRegion">
        {% for item in states %}
        <option value="{{ item }}" {% if item == entity.location.addressRegion %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
  </fieldset>
    <label>Type
      <select class="cat" name="category">
        {% for item in categories %}
        <option value="{{ item }}" {% if item == entity.category %}selected{%endif%}>{{ item }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Related To
      <select class="relations" name="relations" multiple>
        {% for id in relations.rels %}
        <option value="{{ id }}" {% if id in relations.selected %}selected{% endif %}>{{ relations.rels[id].name }}</option>
        {% endfor %}
      </select>
    </label>
    <label>Description
      <textarea class="desc" name="description" rows="8" cols="40">{{entity.description}}</textarea>
    </label>
    <input class="update" type="submit" value="Update Event">
  </form>
  <a class="delete btn" style="color:red" onclick="modal.open()">Delete this Event</a>
</div>
</div>
</div>
<script>
  var form = document.querySelector('form.event-editor');
  var button = document.querySelector('form.event-editor input.update');
  var inputs = [].slice.call(form.elements);
  var changed = {};
  for (var i=0; i<inputs.length;i++) {
    inputs[i].addEventListener('change', function(){
      changed[this.name] = 1;
    });
  };

  button.addEventListener('click', function (event) {
    event.preventDefault();
    var request = new XMLHttpRequest();
    request.open('PATCH', window.location.pathname);
    request.onreadystatechange = function () {
      if (XMLHttpRequest.DONE === request.readyState
          && 200 === request.status) {
        window.location.reload(true);
      }
    }
    var tosend = new FormData(form);
    tosend.append('changed', Object.keys(changed).join(','));
    request.send(tosend);
  }, false);

</script>

<script type="application/ld+json">
  {{jsonld|safe}}
</script>

{% endblock %}
